.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.bg-gold {
    background-color: #fadd31 !important;
}

.card {
    background-color: transparent !important;
    border: none !important;
    perspective: 1000px; /* 3D effect*/
}

/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an flip on the Y axis when the rotate class is added to the container*/
.rotate .card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side accordingly */
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.front {
    background-color: white;
    color: black;
}

.back {
    background-color: #ffda1e;
    color: black;
    transform: rotateY(180deg);
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
